.editor-wrap {
    flex: 1 0 0;
    align-self: stretch;
    min-width: 49%;
    margin-right: 0.5%;
}

.editor-wrap textarea {
    resize: none;
    min-height: 100%;
    font-size: 14px;
    color: #24292e;
    line-height: 1.5;
}
