.workarea-wrap {
    margin: 25px;
    display: grid;
    min-height: 500px;
    min-width: 300px;
    grid-template-columns: [editor] 50% [preview] 50%;
    grid-template-rows: [name] auto [file] 100%;
}
