.workarea-wrap {
    margin: 25px;
    flex: 1 1 auto;
    align-self: stretch;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
}
